<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.my.easybuy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/WelcomeTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.GoodsDetailActivity" />
        <activity android:name=".activity.ShopListActivity" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.AddressListActivity" />
        <activity android:name=".activity.AddAddressActivity" />
        <activity android:name=".activity.BuyGoodsActivity" />
        <activity android:name=".activity.PayActivity" />
        <activity android:name=".activity.ShopCartAddressActivity" />
        <activity android:name=".activity.PayAddressActivity" />
        <activity android:name=".activity.PersonActivity" />
        <activity
            android:name=".activity.SubmitImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme_dialog" />
        <activity android:name=".activity.MyBuyActivity" />
        <activity android:name=".activity.SearchActivity" />
        <activity android:name=".activity.PingLunActivity" />
        <activity android:name=".activity.DetailPingLunActivity" />
        <activity android:name=".activity.AddPingLunActivity" />
        <activity android:name=".activity.DaiFaHuoActivity" />
        <activity android:name=".activity.DaiFuKuanActivity" />
        <activity android:name=".activity.DaiShouHuoActivity" />
        <activity android:name=".activity.DaiPingJiaActivity" />
        <activity android:name=".activity.EditGoodsActivity" />
        <activity android:name=".activity.EmailVerfiyActivity" />
        <activity android:name=".activity.AllOrderActivity" />
        <activity android:name=".activity.GuideActivity" />
        <activity android:name=".activity.ChangePasswordActivity" />
        <activity android:name=".activity.ForgetActivity" />
        <activity android:name=".activity.ForgetNextActivity"></activity>
    </application>

</manifest>